<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'amadon/css/amadon.css'%}">
</head>
<body>
    <div id="wrapper">
        <h1>Amadon Store!</h1>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>
                    Dojo T-Shirt
                </td>
                <td>
                    $19.99
                </td>
                <td>
                    <form action="/process" method="POST" class="quantity">
                        {% csrf_token %}
                        <select name="quantity" class="dropdown">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="all">all</option>
                        </select>
                        <input type="hidden" name="item_name" value="Dojo T-Shirt">
                        <input type="hidden" name="price" value="19.99">
                        <input type="submit" value="Buy!" class="buy_button">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    Dojo Sweater
                </td>
                <td>
                    $29.99
                </td>
                <td>
                    <form action="/process" method="POST" class="quantity">
                        {% csrf_token %}
                        <select name="quantity" class="dropdown">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="all">all</option>
                        </select>
                        <input type="hidden" name="item_name" value="Dojo Sweater">
                        <input type="hidden" name="price" value="29.99">
                        <input type="submit" value="Buy!" class="buy_button">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    Dojo Mug
                </td>
                <td>
                    $4.99
                </td>
                <td>
                    <form action="/process" method="POST" class="quantity">
                        {% csrf_token %}
                        <select name="quantity" class="dropdown">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="all">all</option>
                        </select>
                        <input type="hidden" name="item_name" value="Dojo Mug">
                        <input type="hidden" name="price" value="4.99">
                        <input type="submit" value="Buy!" class="buy_button">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    Algorithm Book
                </td>
                <td>
                    $49.99
                </td>
                <td>
                    <form action="/process" method="POST" class="quantity">
                        {% csrf_token %}
                        <select name="quantity" class="dropdown">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="all">all</option>
                        </select>
                        <input type="hidden" name="item_name" value="Algorithm Book">
                        <input type="hidden" name="price" value="49.99">
                        <input type="submit" value="Buy!" class="buy_button">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>